.root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
}


.container {
  background-color: #fff;
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.input {
  border: 1px solid #0000001c;
  border-radius: 5px;
  padding: 16.5px 14px;
  outline: none;
  margin-bottom: 20px;

  &:focus-visible {
    border: 1px solid blue;
  }
}